$fire: conic-gradient(#ff0000, #7c0909, #9d0000, #f04949, #d00f0f, #670d0d, #ff0000);
$water: conic-gradient(#0016ff, #142065, #2a42c3, #7e8fed, #1b5c90, #4952ba, #0016ff);
$electric: conic-gradient(#ffc107, #ff9800, #edae51, #ff9800, #e4c494, #be8024, #ffbf00);
$psychic: conic-gradient(#ea00ff, #44004a, #4c1051, #d66be0, #511e56, #53035a, #ea00ff);
$flying: conic-gradient(#a1f3ec, #d3fffb, #aed3cf, #14b1a4, #e6eded, #4fc5bb, #a1f3ec);
$normal: conic-gradient(#fdf3d3, #8b846c, #c5c5c5, #afaa9b, #f6df93, #f2f2f2, #fdf3d3);
$fighting: conic-gradient(#ffd483, #c58f28, #f6e4c1, #e4a837, #ebd6ae, #c58f2a, #ffd483);
$poison: conic-gradient(#611380, #4a1f5c, #815892, #5e2775, #b385c5, #aa55cc, #611380);
$ground: conic-gradient(#bfac22, #4d492e, #969270, #675b00, #beb25b, #e9d85d, #bfac22);
$rock: conic-gradient(#474026, #807a64, #3d392b, #aa9c66, #635c42, #aa9b64, #474026);
$bug: conic-gradient(#bddd6e, #576c23, #cbff4c, #7da124, #87a145, #97b350, #bddd6e);
$ghost: conic-gradient(#8e55a4, #52325f, #410853, #67606a, #664075, #636363, #8e55a4);
$steel: conic-gradient(#454545, #a1a1a1, #454545, #7e7575, #454545, #cec5c5, #454545);
$grass: conic-gradient(#3e9709, #79d741, #6db840, #46b106, #3e9709, #92d76a, #3e9709);
$ice: conic-gradient(#1995a1, #44eeff, #2b757c, #64b4bc, #367d84, #57aeb8, #1995a1);
$dragon: conic-gradient(#6c31ed, #cec5ff, #402a6c, #6124e7, #4713bc, #206ca8, #6c31ed);
$dark: conic-gradient(#2d221c, #535353, #3d3d3d, #2d221c, #67625f, #a89185, #2d221c);
$fairy: conic-gradient(#f87ea7, #e9c5d1, #b3315d, #f87ea7, #c73466, #dbdbdb, #f87ea7);

$fire-img: radial-gradient(circle, #fbced7, #f63838db, #480904);
$water-img: radial-gradient(circle, #d3e9fb, #6390e2, #00137e);
$electric-img: radial-gradient(circle, #f6f0b8, #ffc107, #ad8100);
$psychic-img: radial-gradient(circle, #eed5f2, #da76eb, #44004f);
$flying-img: radial-gradient(circle, #b5ebf0, #489290db, #044843);
$normal-img: radial-gradient(circle, #fdebef, #dbca90, #6e6d6b);
$fighting-img: radial-gradient(circle, #f4e1bb, #edc881, #be8b2c);
$poison-img: radial-gradient(circle, #d4a6e7, #aa68c5, #642d7a);
$ground-img: radial-gradient(circle, #f0decd, #aaa04f, #706515);
$rock-img: radial-gradient(circle, #f2d3d9, #b6a977, #655f4c);
$bug-img: radial-gradient(circle, #def6a2, #a4d03a, #547500);
$ghost-img: radial-gradient(circle, #d7d7d7, #9458a6, #250032);
$steel-img: radial-gradient(circle, #cac0c0, #807878, #494949);
$grass-img: radial-gradient(circle, #bbe7a3, #79be50, #286701);
$ice-img: radial-gradient(circle, #bde1e4, #5faeb6, #075d65);
$dragon-img: radial-gradient(circle, #cfd6ff, #4d87ce, #432978);
$dark-img: radial-gradient(circle, #beb2ab, #77706c, #342e2b);
$fairy-img: radial-gradient(circle, #e5bac8, #de6f94, #a11a47);

.card-container{
  background: rgb(221, 193, 0);
  margin: 8px;
  width: 24%;
  height: 80vh;
  display: flex;
  border-radius: 8px;
  box-shadow:
    1px 1px 3px #c8c9de,
    1px -1px 3px #c8c9de47,
    -1px 2px 4px #c8c9de47,
    -1px 2px 3px #c8c9de47
  ;
}
.card-inner{
    background-image: $bug;
    margin: 16px;
    align-self: center;
    width: -moz-fit-content;
    width: 46vh;
    height: 75vh;
}

.card-name_hp_stat{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 18px;
  height: 12%;
  position: relative;
}
.poke-type{
  display: flex;
  position: relative;
  top: -34px;
  padding: 0 18px;
}

.img-outer{
    background-image: linear-gradient(to right, #c2d321, #dfeb9b, #d9d635);
    width: 87.5%;
    position: relative;
    margin: 0 18px;
    margin: 0 18px;
    top: -47px;
    height: 40%;
    box-shadow: 1px 2px 10px #a89393;
}

.img-inner{
  text-align: center;
background-image: $fairy-img;
  position: relative;
  margin: 2.5%;
  width: 38vh;
  height: 27.8vh;
  top: 3.5%;
  border-radius: 2px;
}

.poke-stat{
  background-image: linear-gradient(to right, #c1d030, #dfeb9b, #fcf835);
  display: flex;
  justify-content: space-evenly;
  height: 24px;
  width: 80%;
  top: -40px;
  position: relative;
  margin-left: 28px;
  line-height: 2px;
  border-radius: 16px;
  p{
    font-size: 10px;
    padding-left: 7%;
  }
}

.poke-stat-p{
    display: flex;
    height: 24px;
    width: 80%;
    position: relative;
    margin-left: 26px;
}

.poke-ability{
  flex-wrap: wrap;
  height: 15vh;
  position: relative;
  top: -94px;
  overflow-y: scroll;
  margin-left: 28px;
  width: 80%;
  line-height: 2px;
  cursor: pointer;
  background: linear-gradient(179deg, #ffffff5c, transparent);
  border-radius: 8px;
  text-align: left;
}

.base-dmg{
  top: -47px;
  position: relative;
  align-items: center;
  text-align: center;
  margin: 0 26%;
}
.line{
  position: relative;
  top: -58px;
  width: 70%;
}

.ability-title{
  position: relative;
  top: -70px;
  margin-left: 44px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.poke-ability::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.poke-ability {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
